<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqWPF.Properties.Settings.DBConnectionString" connectionString="Data Source=Niklas\NIKLASSQL;Initial Catalog=DB;Persist Security Info=True;User ID=sa;Password=123456;Pooling=False;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>